@import '../../styles/variables';
@import '../../styles/mixins';


.landing-container {
    margin-top: 11vh;

    .letter-tile-landing {
        @include letter-tile($tertiary, $secondary, 10px)
    }

    .landing-logo {
        padding: 5vh;
        width: 600px;
        
    }

    .play-button {
        display: block;
        padding: 10px;
        margin:20px auto;

        width: fit-content;
        height: 75px;

        font-size: 50px;
        color: $tertiary;
        text-decoration: none;

        background-color: $secondary;

        border: none;
        border-radius: 10px;

    }
    .play-button:hover {
        cursor: pointer;
    }
    .play-button:visited,
    .play-button:active {
        text-decoration: none;
    }

    .register-here {
        margin-top: 5vh;
        color: $secondary;
        text-decoration: none;
        .auth-link {
            text-decoration: none;
            color: $secondary;
            font-weight: bold;
        }
        .auth-link:visited {
            text-decoration: none;
            color: $secondary;
        }
    }
    @include media(tablet) {
        .landing-logo {
            width: 70vw;
            max-width: 600px;
        }
    }
    @include media(small-tablet) {
        .landing-logo {
            width: 70vw;
        }
    }
    @include media(mobile) {
        .landing-logo {
            width: 70vw;
        }
        .register-here {
            width: 250px;
            margin: 20px auto;
        }
    }
}