@import '../../styles/variables';
@import '../../styles/mixins';

.logic-map {
    @include flexCenter;
    width: 550px;
    margin: auto;
}

.title-word {
    @include flexCenter;

    width: 550px;
    height: 100px;
    margin: 40px auto;

    font-size: 80px;
    color: $secondary;
    font-weight: bold;

    background-color: $tertiary;
    border-radius: 10px;

    box-shadow: 0px 4px 4px;
    text-shadow: 0px 4px 4px grey;
}

.difficulty-buttons-container {
    @include flexCenter;

    width: 300px;

    margin: 50px auto 10px;
    .difficulty-button {
        padding: 5px;

        background-color: $tertiary;

        font-size: 20px;
        font-weight: bold;
        color: $secondary;

        border: 3px solid $secondary;
        border-radius: 5px;

        cursor: pointer;
    }

    .difficulty-selected {
        background-color: white;
    }
}




.play-button {
    width: 130px;
    height: 75px;

    font-size: 50px;
    color: $tertiary;

    background-color: $secondary;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.register-here {
    margin-top: 5vh;
    color: $secondary;
    text-decoration: none;
    Link{
        text-decoration: none;
    }
}