@import '../../styles/variables';
@import '../../styles/mixins';


.landing-container {
    margin-top: 7vh;

    .letter-tile-landing {
        @include letter-tile($tertiary, $secondary, 10px)
    }

    .landing-logo {
        padding: 5vh;
        width: 600px;
        
    }

    .play-button {
        display: block;

        margin:20px auto;

        width: 130px;
        height: 75px;

        font-size: 50px;
        color: $tertiary;
        text-decoration: none;

        background-color: $secondary;

        border: none;
        border-radius: 10px;

        cursor: pointer;
    }

    .register-here {
        margin-top: 5vh;
        color: $secondary;
        text-decoration: none;
        .auth-link {
            text-decoration: none;
            color: $secondary;
            font-weight: bold;
        }
        .auth-link:visited {
            text-decoration: none;
            color: $secondary;
        }
    }
    @include breakPoint(mobile) {
        .landing-logo {
            width: 300px;
        }
    }
    @include breakPoint(tablet) {
        .landing-logo {
            width: 250px;
        }
        .register-here {
            width: 250px;
            margin: 20px auto;
        }
    }
}