@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin letter-tile ($border-color, $text-color, $border-radius){
    @include flexCenter;

    width: 40px;
    height: 40px;

    color: $text-color;
    font-size: 40px;
    border: 3px solid $border-color;
    border-radius: 10px;
    box-shadow: 0px 4px 4px grey;

    @include media (mobile) {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }
}

@mixin navBtnPlacer {
    position: absolute;
    bottom: 10px;
}

@mixin media($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 414px) {
            @content;
        }
    }
    @if $breakpoint == small-tablet {
        @media screen and (min-width: 414px) and (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint == tablet {
        @media screen and (min-width: 768px) and (max-width: 1024px)  {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media screen and (min-width: 1025) {
            @content;
        }
    }
}

