@import './variables';
@import './mixins';
@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: $primary;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}



