@import '../../styles/variables';
@import '../../styles/mixins';

.Instructions {
    width: 30vw;
    background-color: $tertiary;
    position: absolute;
    right: 1vw;
    top: 4vw;
    border-radius: 50px;
    h2 {
        font-weight: 900;
        font-size: 3vw;
    }
}

.instructions-container {
    @include flexEvenly();
    text-align: initial;
    width: 26vw;
    margin-left: 3vw;
}



.howto-list {
    margin-top: 20px;
    text-align: center;
}

.howto-list-item {
    margin: 10px;
    padding: 3px;

    color: $secondary;
    font-weight: 700;
    line-height: 3vh;

    border-left: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-radius: 10px;
}
