@import '../../styles/variables';
@import '../../styles/mixins';

.game-container {
    margin: 20px auto;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}