@import '../../styles/variables';
@import '../../styles/mixins';
.game-outer-container {
    position: relative;
    
    .game-container {
        margin: 20px auto;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }

}


.difficulty-container {
    margin-top: 40px;
    .difficulty-text {
        font-size:50px;
        font-weight: bold;
        color: $quaternary;
    }

    .difficulty-buttons-container {
        @include flexCenter;

        width: 300px;

        margin: 50px auto 10px;
        .difficulty-button {
            padding: 5px;

            background-color: $tertiary;

            font-size: 20px;
            font-weight: bold;
            color: $secondary;

            border: 3px solid $secondary;
            border-radius: 5px;

            cursor: pointer;
        }

        .difficulty-selected {
            background-color: white;
        }
    }
}

.game-button {
    margin: 10px;
    padding: 5px;

    background-color: $secondary;

    font-size: 20px;
    font-weight: bold;
    color: $tertiary;

    border: 3px solid $tertiary;
    border-radius: 5px;

    cursor: pointer;
}

.difficulty-text {

}

.Help {
    font-size: 3vw;
    color: $quaternary;
    position: absolute;
    right: 17vw;
    top: 3vw;
}

.Help:hover {
    cursor: pointer;
}