.game-outer-container {
  position: relative;
  margin-top: 11.5vh;
}

.game-outer-container .game-container {
  margin: 20px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-outer-container .target-word-container,
.game-outer-container .letter-chart-container,
.game-outer-container .input-container,
.game-outer-container .give-up-container,
.game-outer-container .guessed-word-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.game-outer-container .help-bubble {
  width: 200px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  position: absolute;
  z-index: 10;
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .game-outer-container .help-bubble {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .game-outer-container .help-bubble {
    display: none;
  }
}

.game-outer-container .target-word-help {
  top: -35px;
  left: 300px;
  border-radius: 10px 10px 10px 0px;
}

.game-outer-container .letter-chart-help {
  bottom: -480px;
  left: -240px;
  border-radius: 0px 10px 10px 10px;
}

.game-outer-container .guessed-word-number-help {
  width: 125px;
  top: -70px;
  left: 410px;
  border-radius: 10px 10px 10px 0px;
}

.game-outer-container .input-help {
  width: 150px;
  top: 45px;
  left: -155px;
  border-radius: 10px 0px 10px 10px;
}

.game-outer-container .give-up-help {
  top: 75%;
  left: 110px;
  border-radius: 0px 10px 10px 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .game-outer-container .give-up-help {
    left: -200px;
    border-radius: 10px 0px 10px 10px;
  }
}

.difficulty-container {
  margin-top: 12vh;
}

.difficulty-container .difficulty-text {
  font-size: 50px;
  margin: 0px 20px;
  font-weight: bold;
  color: #710627;
}

.difficulty-container .difficulty-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: 50px auto 10px;
}

.difficulty-container .difficulty-buttons-container .difficulty-button {
  padding: 5px;
  background-color: #f49d6e;
  font-size: 20px;
  font-weight: bold;
  color: #235789;
  border: 3px solid #235789;
  border-radius: 5px;
  cursor: pointer;
}

.difficulty-container .difficulty-buttons-container .difficulty-selected {
  background-color: white;
}

.game-button {
  margin: 10px;
  padding: 5px;
  background-color: #235789;
  font-size: 20px;
  font-weight: bold;
  color: #f49d6e;
  border: 3px solid #f49d6e;
  border-radius: 5px;
  cursor: pointer;
}

.letter-chart-toggle {
  position: absolute;
  top: -30px;
  left: 1vw;
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  color: #710627;
  background: none;
  border: 5px solid #235789;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .letter-chart-toggle {
    top: -35px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #235789;
  }
}

@media screen and (max-width: 414px) {
  .letter-chart-toggle {
    top: -35px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #235789;
  }
}

.Help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  font-size: 60px;
  color: #710627;
  font-weight: bold;
  position: absolute;
  right: 1vw;
  top: -30px;
  border: 5px solid #235789;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .Help {
    top: -35px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border: 3px solid #235789;
  }
}

@media screen and (max-width: 414px) {
  .Help {
    top: -35px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    z-index: 10;
    border: 3px solid #235789;
  }
}

.Help:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Game.css.map */