@import '../../styles/variables';
@import '../../styles/mixins';
.game-outer-container {
    position: relative;
    
    .game-container {
        margin: 20px auto;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .game-button {
            margin: 10px;
            padding: 5px;

            background-color: $secondary;

            font-size: 20px;
            font-weight: bold;
            color: $tertiary;

            border: 3px solid $tertiary;
            border-radius: 5px;

            cursor: pointer;
        }
    }

}

.Help {
    font-size: 3vw;
    color: $quaternary;
    position: absolute;
    right: 17vw;
    top: 0vw;
}

.Help:hover {
    cursor: pointer;
}