@import '../../styles/variables';
@import '../../styles/mixins';

.About {
    height: 92vh;
    width: 100vw;
    h2 {
        font-weight: 800;
        font-size: 4rem;
        color: $secondary;
        position: absolute;
        top: 1vh;
        right: 44.85vw;
    };
}

.about-container {
    margin-top: 10vh;
    width: 100vw;
    height: 70vh;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .sub-header {
        height: 5vh;
        h4 {
            font-weight: 600;
            font-size: 2rem;
            color: $quaternary;
            position: absolute;
            left: 5vw;
        }
    }
    .sub-content {
        width: 75vw;
        position: relative;
        left: 7vw;
        text-align: start;
        p {
            word-spacing: .15vw;
            line-height: 3vh;
        }
    }
}