@import '../../styles/variables';
@import '../../styles/mixins';

.About {
    width: fit-content;
    @include flexEvenly();
    flex-direction: column;
    h2 {
        font-weight: 800;
        font-size: 6vw;
        color: $secondary;
    };
    h3 {
        margin-top: .5vw;
        font-weight: bold;
        font-size: 3vw;
    }
    .code-link {
        font-size: 5vw;
        font-weight: 800;
        color: $secondary;
    }

    .about-container {
        width: 75vw;
        @include flexCenter();
        flex-wrap: wrap;
        .creator-info {
            width: 28vw;
            margin: 1vw;
            border: 3px solid $secondary;
            border-radius: 10px;

            p {
                width: fit-content;
                font-size: 2vw;
                margin: 3px auto;
                color: $secondary;
                
            }
            .creator-picure {
                width: 7vw;
                border-radius: 50%;
                margin-right: 10px;
            }
            .github-icon {
                width: 7vw;
            }
        }  
    }
    
    @include media(tablet) {
         .about-container {
            flex-direction: column;
            flex-wrap: nowrap;
         }
    }
}