@import '../../styles/variables';
@import '../../styles/mixins';

.target-word {
    @include flexCenter;

    width: 300px;
    height: 75px;
    margin: 40px auto 0px;
    padding-bottom: 3px;

    background-color: $tertiary;
    border-radius: 10px;
    box-shadow: 0px 4px 4px;

    font-size: 80px;
    letter-spacing: 5px;
    font-stretch: ultra-expanded;
    color: $secondary;

    @include media(mobile) {
        width: 200px;
        height: 40px;
        font-size: 40px;
    }
}