.Nav {
  height: 7vh;
  width: 100vw;
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  background-color: #235789;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #710627 3px;
}

.Nav button {
  background-color: #f49d6e;
  height: 4vh;
  width: 5vw;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: #710627 0.1rem 0.25rem;
          box-shadow: #710627 0.1rem 0.25rem;
  color: #235789;
  font-weight: 700;
}

.Nav button:hover {
  cursor: pointer;
}

.Nav .logo-container {
  position: absolute;
  left: 3vw;
}

.Nav .logo-container img {
  max-height: 5.5vh;
}

.Nav .not-loggedin {
  width: 50vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 3vw;
}

.Nav .not-loggedin form {
  margin-top: 2.5vh;
}

.Nav .not-loggedin form input {
  width: 120px;
}

.Nav .login-input,
.Nav .login-btn,
.Nav .register-btn,
.Nav .profile-btn,
.Nav .logout-btn {
  margin-right: 1vw;
}

.Nav .logged-in {
  position: absolute;
  bottom: 11px;
  right: 3vw;
}

.Nav .play-btn {
  width: 6vw;
}

.Nav .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 3px;
  right: 23vw;
  color: #f49d6e;
  font-weight: bold;
  font-size: .75vw;
}

.Nav .menu {
  display: none;
}

.Nav .menu-error {
  color: #710627;
  font-weight: bold;
  font-size: 3vw;
}

@media (max-width: 1025px) {
  .Nav .menu {
    position: absolute;
    top: 12vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0vh;
    overflow: hidden;
    width: 80vw;
    background-color: #93A3B1;
    z-index: 50;
    border-radius: 20px;
    -webkit-transition: height 1s;
    transition: height 1s;
  }
  .Nav .menu .menu-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: solid #235789 2px;
    border-radius: 15px;
  }
  .Nav .menu-active {
    height: 80vh;
    top: 12vh;
    border: solid #710627 3px;
    -webkit-box-shadow: 10px 10px 10px #235789;
            box-shadow: 10px 10px 10px #235789;
  }
  .Nav .logged-in {
    display: none;
  }
  .Nav .about-btn {
    display: none;
  }
  .Nav .form {
    display: none;
  }
  .Nav .error {
    display: none;
  }
  .Nav .register-btn {
    display: none;
  }
  .Nav .play-btn {
    z-index: 50;
    position: absolute;
    width: 8vw;
    top: 1.25vh;
    right: 10vw;
  }
  .Nav .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 5vw;
    height: 5vh;
    right: 3.5vw;
    top: 1vh;
    cursor: pointer;
  }
  .Nav .hamburger-menu div {
    border-radius: 3px;
    width: 4vw;
    height: .7vh;
    background-color: #f49d6e;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .Nav .play-btn {
    width: 14vw;
    font-size: 12;
    z-index: 50;
  }
  .Nav .menu-no-user {
    height: 75vh;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-no-user .menu-form {
    position: absolute;
    top: 4vh;
    height: 30vh;
    width: 35vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vh;
  }
  .Nav .menu-no-user .menu-register {
    position: absolute;
    right: 25vw;
    top: 40vh;
  }
  .Nav .menu-about {
    position: absolute;
    bottom: 10vh;
    right: 25vw;
  }
  .Nav .menu-uesr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-profile {
    position: absolute;
    top: 10vh;
  }
  .Nav .menu-profile,
  .Nav .menu-logout,
  .Nav .menu-about,
  .Nav .menu-register,
  .Nav .menu-login {
    height: 10vh;
    width: 30vw;
    font-size: 6vw;
  }
  .Nav input {
    height: 7vh;
    width: 30vw;
    font-size: 4vw;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Nav .menu-no-user {
    height: 75vh;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-no-user .menu-form {
    padding: 1vw;
    position: absolute;
    top: 2vh;
    height: 32vh;
    width: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vh;
  }
  .Nav .menu-no-user .menu-register {
    position: absolute;
    right: 25vw;
    top: 42vh;
  }
  .Nav .menu-about {
    position: absolute;
    bottom: 10vh;
    right: 25vw;
  }
  .Nav .menu-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-profile {
    position: absolute;
    right: 25vw;
    top: 10vh;
  }
  .Nav .menu-profile,
  .Nav .menu-logout,
  .Nav .menu-about,
  .Nav .menu-register,
  .Nav .menu-login {
    height: 10vh;
    width: 30vw;
    font-size: 6vw;
  }
  .Nav input {
    height: 8vh;
    width: 30vw;
    font-size: 4vw;
    border-radius: 10px;
  }
}

@media screen and (max-width: 414px) {
  .Nav .play-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 4vh;
    font-size: 13px;
    right: 12vw;
    z-index: 50;
  }
  .Nav .hamburger-menu {
    right: .3vw;
    width: 10vw;
  }
  .Nav .hamburger-menu div {
    width: 7vw;
  }
  .Nav .menu-no-user {
    height: 75vh;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-no-user .menu-form {
    position: absolute;
    top: 3vh;
    height: 30vh;
    width: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vh;
  }
  .Nav .menu-no-user .menu-register {
    position: absolute;
    right: 25vw;
    top: 40vh;
  }
  .Nav .menu-about {
    position: absolute;
    bottom: 10vh;
    right: 25vw;
  }
  .Nav .menu-uesr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Nav .menu-profile {
    position: absolute;
    top: 10vh;
  }
  .Nav .menu-profile,
  .Nav .menu-logout,
  .Nav .menu-about,
  .Nav .menu-register,
  .Nav .menu-login {
    height: 10vh;
    width: 30vw;
    font-size: 6vw;
  }
  .Nav input {
    height: 6vh;
    width: 40vw;
    font-size: 4vw;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=Nav.css.map */