@import '../../styles/variables';
@import '../../styles/mixins';

.Nav {
    height: 7vh;
    width: 100vw;
    z-index: 20;
    
    position: sticky;
    background-color: $secondary;
    @include flexEvenly();
    border-bottom: solid $quaternary 3px;
    button {

        background-color: $tertiary;
        height: 4vh;
        width:  5vw;
        border: none;
        border-radius: 10px;
        box-shadow: $quaternary .10rem .25rem;
        color: $secondary;
        font-weight: 700;
        // font-size: 14px;
    }
    button:hover {
        cursor: pointer;
    }

    .logo-container {
        position: absolute;
        left: 3vw;
    
    }    
    
    .not-loggedin {
        width: 50vw;
        height: 8vh;
        @include flexCenter();
        justify-content: flex-end;
        position: absolute;
        right: 3vw;
        form{
            margin-top: 2.5vh;
            input {
                width: 120px;
            }
        }
    }
    
    .login-input,
    .login-btn,
    .register-btn,
    .profile-btn,
    .logout-btn {
        margin-right: 1vw;
    }
    
    .logged-in {
        @include navBtnPlacer();
        right: 3vw;
    }
    
    .play-btn{
        width: 6vw;
    }
    
    .error{
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 23vw;
    color: $tertiary;
    font-weight: bold;
    font-size: .75vw;
    }
    
    .menu{
        display: none;
    }
    
    .menu-error{
        color: $quaternary;
        font-weight: bold;
        font-size: 3vw;
    }
    
    
    @media(max-width: 1025px){
        .menu{
            position: absolute;
            top: 12vh;
            @include flexCenter();
            flex-direction: column;
            height: 0vh;
            overflow: hidden;
            width: 80vw;
            background-color:$primary;
            z-index: 50;
            border-radius: 20px;
            transition: height 1s;
            .menu-form{
                display: flex;
                border: solid $secondary 2px;
                border-radius: 15px;
            }
        }

        .menu-active{
            height: 80vh;
            top: 12vh;
            border: solid $quaternary 3px;
            box-shadow: 10px 10px 10px $secondary;
        }

        .logged-in{
            display: none;
        }
        .about-btn{
            display: none;
        }
        .form{
            display: none;
        }
        .error{
            display: none;
        }
        .register-btn{
            display: none;
        }
        .play-btn{
            // display: flex;
            z-index: 50;
            position: absolute;
            width: 8vw;
            top: 1.25vh;
            right: 10vw;
        }
        .hamburger-menu{
            @include flexEvenly();
            flex-direction: column;
            position: absolute;
            // background-color: blanchedalmond;
            width: 5vw;
            height: 5vh;
            right: 3.5vw;
            top: 1vh;
            cursor: pointer;
            div{
                border-radius: 3px;
                 width: 4vw;
                 height: .7vh;
                background-color: $tertiary;
               
            }
        }
    }
    
    

    @include media(small-tablet){
        .play-btn{
            width: 14vw;
            font-size: 12;  
            z-index: 50;
        }
        .menu-no-user{
            height: 75vh;
            width: 50vw;
            @include flexEvenly();
            flex-direction: column;
            .menu-form{
                position: absolute;
                top: 4vh;
                height: 30vh;
                width: 35vh;
                @include flexEvenly();
                flex-direction: column;
                margin-bottom: 2vh;
            }
            .menu-register{
                position: absolute;
                right: 25vw;
                top: 40vh;
            }
        }
        .menu-about{
            position: absolute;
            bottom: 10vh;
            right: 25vw;
        }
        .menu-uesr{
            @include flexEvenly();
            flex-direction: column;
        }
        .menu-profile{
            position: absolute;
            top: 10vh;
        }
        .menu-profile,
        .menu-logout,
        .menu-about,
        .menu-register,
        .menu-login{
            height: 10vh;
            width: 30vw;
            font-size: 6vw;
        }
        input{
            height: 7vh;
            width: 30vw;
            font-size: 4vw;
            border-radius: 10px;
        }
    }

    @include media(tablet) {
        .menu-no-user{
            height: 75vh;
            width: 50vw;
            @include flexEvenly();
            flex-direction: column;
            .menu-form{
                padding: 1vw;
                position: absolute;
                top: 2vh;
                height: 32vh;
                width: 40vh;
                @include flexEvenly();
                flex-direction: column;
                margin-bottom: 2vh;
            }
            .menu-register{
                position: absolute;
                right: 25vw;
                top: 42vh;
            }
        }
        .menu-about{
            position: absolute;
            bottom: 10vh;
            right: 25vw;
        }
        .menu-user{
            @include flexEvenly();
            flex-direction: column;
        }
        .menu-profile{
            position: absolute;
            right: 25vw;
            top: 10vh;
        }
        .menu-profile,
        .menu-logout,
        .menu-about,
        .menu-register,
        .menu-login{
            height: 10vh;
            width: 30vw;
            font-size: 6vw;
        }
        input{
            height: 8vh;
            width: 30vw;
            font-size: 4vw;
            border-radius: 10px;
        }
    }

    @include media(mobile){
        .play-btn{
            width: fit-content;
            padding-left: 10px;
            padding-right: 10px;
            height: 4vh;
            font-size: 13px;
            right: 12vw;
            z-index: 50;
        }
        .hamburger-menu{
            right: .3vw;
            width: 10vw;
                div{
                    width: 7vw;
                }

        }
        .menu-no-user{
            height: 75vh;
            width: 50vw;
            @include flexEvenly();
            flex-direction: column;
            .menu-form{
                position: absolute;
                top: 3vh;
                height: 30vh;
                width: 30vh;
                @include flexEvenly();
                flex-direction: column;
                margin-bottom: 2vh;
            }
            .menu-register{
                position: absolute;
                right: 25vw;
                top: 40vh;
            }
        }
        .menu-about{
            position: absolute;
            bottom: 10vh;
            right: 25vw;
        }
        .menu-uesr{
            @include flexEvenly();
            flex-direction: column;
        }
        .menu-profile{
            position: absolute;
            top: 10vh;
        }
        .menu-profile,
        .menu-logout,
        .menu-about,
        .menu-register,
        .menu-login{
            height: 10vh;
            width: 30vw;
            font-size: 6vw;
        }
        input{
            height: 6vh;
            width: 40vw;
            font-size: 4vw;
            border-radius: 10px;
        }
    }
}


