@import '../../styles/variables';
@import '../../styles/mixins';


.main-auth{
    @include flexCenter;
    width: 100vw;
    height: 90vh;
}

.auth-content{
    @include flexCenter;
    width: 40%;
    height: 50%;
    background-color: $tertiary ;
    background-color: $secondary;
    // background-color: $quaternary;
    font-size: 30px;
    color: $secondary;
    color: $primary;
    font-weight: bold;
    border-radius: 40px;
        form{
            width: 100%;
        }
        button{
            width: 20vw;
            height: 50px;
            background-color: $tertiary;
            border-radius: 20px;
            font-size: 90%;
            font-weight: bold;
            color: $secondary;
            // color: $quaternary;
            // color: $primary;
        }
}

.form{
    height: 80%;
}
.register-input{
    width: 50%;
    height: 20px;
    margin-bottom: 5%;
}

.auth-div{
    width: 100%;
}
.input-container{
    position: relative;
    img{
        position: absolute;
        right: 5vw;
        width: 50px;
        height: 50px;
    }
}
// .password{
//     height: 30px;
//         border-color: #28a745;
//         padding-right: 30px;
//         background-image: url('../../images/password2.png');
//         background-repeat: no-repeat;
//         background-size: 30px 30px;
//         background-position: right center;
 
// }

@include media(tablet){
    .auth-content{
        width: 70%;
        height: 50vh;
    }
}

@media(max-width: 768px){
    .auth-content{
        width: 80%;
        height: 70%;
        button{
            width: 40vw;
        }
        input{
            width: 50vw;
        }
    }
}

@include media(mobile){
    .auth-content{
        width: 90%;
        button{
            width: 60vw;
        }
        input{
            width: 65vw;
        }
    }

}